@using Sandbox.Web.Models
@model NavigationMenu

<h4><a href="@Model.Url">@Model.Title</a></h4>
<div class="sidebar sidebar-static">
    @RenderNavigation(Model.Children)
</div>

@helper RenderNavigation(IEnumerable<NavigationMenu> items)
{
    <ul class="nav nav-pills nav-stacked">
        @foreach (var item in items)
        {
            <li class=@(item.Children != null ? "open" : "close")>
                <a href="@item.Url">@item.Title</a>
                @if (item.Children != null)
                {
                    @RenderNavigation(item.Children)
                }
            </li>
        }
    </ul>
}
